<%= stylesheet_link_tag    'bootstrap.min', 'style', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<div class="row landingpage">
  <div class="col-md-2 col-md-offset-8">
    <%= image_tag("logo", :class => 'landing-logo')%>
  </div>

  <div class="col-md-1 col-md-offset-6 landing-button">
    <%= link_to("Découvrez", "/biographie")%>
  </div>
  <div class="col-md-1 col-md-offset-2 landing-button">
    <%= link_to("Ecoutez", "/musiques")%>
  </div>

</div>

<hr class="footer-start">
<footer class="row footer">
  <div class="col-md-2 ">
    <p class="footer-address">06.72.44.40.45<br /> turpin.geoffrey@live.com</p>
  </div>
  <div class="col-md-2 col-md-offset-7 footer-link"><p>Mentions légales</p></div>
  <div class="col-md-1 footer-link">Plan du site</div>
</footer>