<div class="row biography">
  <div class="col-md-offset-2 col-md-4 biography-photo">
    <%= image_tag("biographie.jpg")%>
  </div>
  <div class="col-md-4 biography-text">
    <h3 class="guf-title">Geoffrey Turpin</h3>
    <p>
      <%= t('biographie.p1') %>
    </p>
    <p>
      <%= t('biographie.p2') %>
    </p>
    <p>
      <%= t('biographie.p3') %>
    </p>
  </div>
</div>
<div class="row parkour">
  <div class="col-md-offset-2 col-md-7 biography-chrono">
    <h3 class="guf-title"><%= t('biographie.parcours') %></h3>

    <div class="biography-year col-md-2 col-xs-4 col-md-offset-2">
      <p id="b2009">2009</p>
      <%=image_tag('chrono/year') %>
    </div>
    <div class="biography-year col-md-2 col-xs-4 col-md-offset-1">
      <p id="b2015">2015</p>
      <%=image_tag('chrono/year') %>
    </div>
    <div class="biography-year col-md-2 col-md-offset-2 col-xs-4">
      <p id="soon"><%= t('biographie.asuivre')%></p>
      <%=image_tag('chrono/year') %>
    </div>
    <br clear="all">

    <hr class="hr"/> <!-- ICI -->

    <div class="biography-raey col-md-2 col-xs-4">
      <%=image_tag('chrono/raey') %>
      <p id="b2003" class="detceles">2003</p>
    </div>

    <div class="biography-raey col-md-2 col-md-offset-1 col-xs-4">
      <%=image_tag('chrono/raey') %>
      <p id="b2011">2011</p>
    </div>

    <div class="biography-raey col-md-2 col-md-offset-2 col-xs-4">
      <%=image_tag('chrono/raey') %>
      <p id="b2016">2016</p>
    </div>

  </div>
  <br clear="all">

  <div class="col-md-2 biography-desc">
    <h3>2003</h3>
    <ul>
      <li>Projection Privée, court métrage de Vincent Turpin</li>
    </ul>
  </div>
</div>