<div class="row biography">
  <div class="col-md-offset-2 col-md-4 biography-photo">
    <%= image_tag("biographie.jpg")%>
  </div>
  <div class="col-md-4 biography-text">
    <h3 class="guf-title">Geoffrey Turpin</h3>
    <p>Issu d'une famille portée sur la peinture et le cinéma, Geoffrey
      commence l'étude de la musique avec la guitare classique en 2004. <br />
      <br />
      Ses collaborations avec son frère Vincent Turpin, réalisateur,
      contribuent à enrichir son expérience de composition appliquée
      à l'image. <br />
      <br />
      De nombreux projets, appliqués ou non à l'image, on vu le jour,
      allant de compositions et d'interprétations au sein de groupes
      de style divers, d'arrangement pour d'autres artistes, mais
      surtout de compositions et de sound design pour l'image.
    </p>
  </div>
</div>
<div class="row parkour">
  <div class="col-md-offset-2 col-md-7 biography-chrono">
    <h3 class="guf-title">Parcours</h3>

    <div class="biography-year col-md-2 col-xs-4 col-md-offset-2">
      <p id="b2009">2009</p>
      <%=image_tag('chrono/year') %>
    </div>
    <div class="biography-year col-md-2 col-xs-4 col-md-offset-1">
      <p id="b2015">2015</p>
      <%=image_tag('chrono/year') %>
    </div>
    <div class="biography-year col-md-2 col-md-offset-2 col-xs-4">
      <p id="soon">À suivre</p>
      <%=image_tag('chrono/year') %>
    </div>
    <br clear="all">

    <hr class="hr"/> <!-- ICI -->

    <div class="biography-raey col-md-2 col-xs-4">
      <%=image_tag('chrono/raey') %>
      <p id="b2003" class="detceles">2003</p>
    </div>

    <div class="biography-raey col-md-2 col-md-offset-1 col-xs-4">
      <%=image_tag('chrono/raey') %>
      <p id="b2011">2011</p>
    </div>

    <div class="biography-raey col-md-2 col-md-offset-2 col-xs-4">
      <%=image_tag('chrono/raey') %>
      <p id="b2016">2016</p>
    </div>
    <br clear="all">


  </div>
  <div class="col-md-2 biography-desc">
    <h3>2003</h3>
    <p>Ceci est l'année 2003. C'était chouette, vraiment. Y'a eu une canicule, je crois.</p>
  </div>
</div>