<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="guf-title">Plan du site</h3>
    <li>
      <ul class="image-title">
        <%=link_to("Accueil", "/") %>
      </ul>
      <ul class="image-title">
        <%=link_to("Biographie", "/biographie") %>
      </ul>
      <ul class="image-title">
        <%=link_to("Musiques", "/musiques") %>
      </ul>
      <ul class="image-title">
        <%=link_to("Contact", "#", :class => 'disabled') %>
      </ul>
      <ul class="image-title">
        <%=link_to("Mentions légales", "/mentions_legales") %>
      </ul>
    </li>
  </div>
</div>