<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="guf-title">Plan du site</h3>
    <ul>
      <li class="image-title">
        <%=link_to("Accueil", "/") %>
      </li>
      <li class="image-title">
        <%=link_to("Biographie", "/biographie") %>
      </li>
      <li class="image-title">
        <%=link_to("Musiques", "/musiques") %>
      </li>
      <li class="image-title">
        <%=link_to("Contact", "/contact") %>
      </li>
      <li class="image-title">
        <%=link_to("Mentions légales", "/mentions_legales") %>
      </li>
    </ul>
  </div>
</div>