<%= simple_form_for (@contact), :html => {:class => "form-horizontal"} do |f| %>
    <div class="col-md-6">
      <h1 class="guf-title">Geoffrey Turpin</h1>
      <p>+33 6 72 44 40 45<br />
      turpin-geoffrey@live.fr</p>
    </div>
    <div class="col-md-6">
      <div class="col-md-10 col-md-offset-1">

    <fieldset>
      <h1 class="guf-title">Contact</h1>
      <div class="form-group">
        <div class="col-md-12">
          <%= f.text_field :nom, :autofocus => true, :placeholder => t('contact.nom'), class: 'form-control input-md', :required => true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <%= f.text_field :email , class: 'form-control input-md', :placeholder => t('contact.email') %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <%= f.text_field :objet, class: 'form-control input-md', :placeholder => t('contact.objet')  %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <%= f.text_area :message, class: 'form-control input-md', :placeholder => t('contact.message') %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <%= f.submit t('contact.submit'), { class: 'submit'} %>
        </div>
      </div>
    </fieldset>
      </div>
    </div>
<%end %>
<br clear="all">