<% @posts.each do |p| %>
<h1><%=link_to(p.titre, p) %></h1>
  <%= image_tag(p.image.url(:thumb))%>
<p>Le <%=p.created_at.strftime('%d/%m/%Y') %></p>
<p><%= p.contenu%></p>
<%=link_to('Lire la suite', p) %>


<%end %>