<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3 class="guf-title">
      <% case params[:status] %>
        <% when 'pending' %>
            Projets en attente
        <% when 'ongoing' %>
            Projets en cours
        <% when 'done' %>
            Projets termines
        <% when 'all' %>
            Tous les projets
        <% else %>

      <% end %>
    </h3>

    <div class="text-center">
      <%= link_to 'En attente',
                  devis_status_admin_path('pending'),
                  class: current_page?(devis_status_admin_path('pending')) ?
                             'form-button active' : 'form-button'
      %>

      <%= link_to 'En cours',
                  devis_status_admin_path('ongoing'),
                  class: current_page?(devis_status_admin_path('ongoing')) ?
                             'form-button active' : 'form-button'
      %>

      <%= link_to 'Terminé',
                  devis_status_admin_path('done'),
                  class: current_page?(devis_status_admin_path('done')) ?
                             'form-button active' : 'form-button'
      %>

      <%= link_to 'Tout',
                  devis_status_admin_path('all'),
                  class: current_page?(devis_status_admin_path('all')) ?
                             'form-button active' : 'form-button'
      %>

    </div>

    <br />
    <br clear="all" />

    <table id="status" class="display" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Adresse e-mail</th>
        <th>Statut</th>
        <th>Prix estimé</th>
        <th>Deadline</th>
        <th>Date de création</th>
        <th></th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>Nom</th>
        <th>Adresse e-mail</th>
        <th>Statut</th>
        <th>Prix estimé</th>
        <th>Deadline</th>
        <th>Date de création</th>
        <th></th>
      </tr>
      </tfoot>
      <tbody>
      <% @devis.each do |devis| %>
          <tr>
            <td><%= devis.prenom %> <%= devis.nom %></td>
            <td><%= mail_to devis.email %></td>
            <td>
              <% case devis.status %>
                <% when 'pending' %>
                  <span class="label label-default">En attente</span>
                <% when 'ongoing' %>
                  <span class="label label-primary">En cours</span>
                <% when 'done' %>
                  <span class="label label-success">Terminé</span>
              <% end %>
            </td>
            <td><%= number_to_currency(devis.price, unit: devis.currency, format: '%n %u') %></td>
            <td><%= devis.deadline.nil? ? '- Aucune -' : devis.deadline.strftime('%d/%m/%Y') %></td>
            <td><%= devis.created_at.strftime('%d/%m/%Y')%></td>
            <td>
              <%= link_to 'Voir', devis_show_admin_path(devis.id) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br clear="all" />

    <div class="text-center">
      <%= link_to '← Retour', admin_path, class: 'form-button' %>
    </div>
  </div>
</div>
