<div class="nested-fields">
  <%= f.label :ratio, 'Taux pour la musique' %>
  <%= f.text_field :ratio %>
  <%= f.label :music_genre, 'Type de la musique' %>
  <%= f.text_field :music_genre %>

  <%= link_to_remove_association 'Supprimer', f %>
</div>