<div class="nested-fields">

  <div class="form-group">
    <%= f.label :ratio, 'Taux pour la musique', class: 'col-md-3 control-label' %>
    <div class="col-md-1">
      <%= f.text_field :ratio, class: 'form-control input-md' %>
    </div>

    <%= f.label :music_genre, 'Type de la musique', class: 'col-md-2 control-label' %>
    <div class="col-md-2">
      <%= f.text_field :music_genre, class: 'form-control input-md' %>
    </div>

    <%= link_to_remove_association '– Supprimer', f, class: 'form-button' %>
  </div>
</div>