<!DOCTYPE html>
<html>
<head>
  <title><%= titre %></title>
  <%= stylesheet_link_tag 'bootstrap.min', 'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
  <header class="row header">
    <div class="col-md-1 header-logo">
      <%= link_to(image_tag("logo"), "/")%>
    </div>

    <div class="col-md-offset-1 col-md-8">
      <div class="row">
        <div class="col-md-3 header-element">
          <div class="col-md-12 header-link">
          <%= link_to("Biographie", "/biographie") %>
          </div>
        </div>
        <div class="col-md-3 header-element">
          <div class="col-md-12 header-link">
            <%= link_to("Musiques", "/musiques") %>
          </div>
        </div>
        <div class="col-md-3 header-element">
          <div class="col-md-12 header-link">
            <%= link_to("Actualités", "#") %>
          </div>
        </div>
        <div class="col-md-3 header-element">
          <div class="col-md-12 header-link">
            <%= link_to("Contact", "/contact") %>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-2 header-share">
      <%= image_tag("facebook") %>
      <%= image_tag("youtube") %>
    </div>
  </header>
  <hr class="header-end">
  <% if flash[:success] %>
    <div class="alert alert-success"><%= flash[:success] %></div>
  <% end %>
<%= yield %>

<!--footer-->
  <hr class="footer-start">
  <footer class="row footer">
    <div class="col-md-2 ">
      <p class="footer-address">06.72.44.40.45<br /> turpin.geoffrey@live.com</p>
    </div>
    <div class="col-md-2 col-md-offset-7 footer-link">
      <%= link_to("mentions légales", "/mentions_legales")%>
    </div>
    <div class="col-md-1 footer-link">
      <%= link_to("Plan du site", "/mapping")%>
    </div>
  </footer>
    <%= javascript_include_tag 'jquery.min', 'bootstrap', 'scrollTo', 'script' %>
  </div>
</body>
</html>
